<template>
  <v-app>
    <v-app-bar app color="green" dark>
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Name"
          class="shrink mt-1 hidden-sm-and-down"
          contain
          min-width="100"
          src="@/assets/strollby.png"
          width="100"
        />
      </div>

      <v-spacer></v-spacer>

      <v-btn
        to="/"
        text
      >
        <span class="mr-2">Dashboard</span>
        <v-icon>mdi-view-dashboard</v-icon>
      </v-btn>

      <v-btn
        to="/leaderboard"
        text
      >
        <span class="mr-2">Leaderboard</span>
        <v-icon>mdi-trophy</v-icon>
      </v-btn>
    </v-app-bar>

    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script>
  export default {
    name: "App",
    data: () => ({
      //
    }),
    methods: {
      GoToLeaderboard() {
        this.$router.push("/leaderboard");
      }
    }
  };
</script>
