<template>
  <div>
    <v-container>
      <v-row no-gutters>
        <v-col>
          <TransportPicker class="item-card" @transport="selectedTransport=$event" @selected="selectedItemFootsteps = $event"/>
          <carbon-emissison-card class="item-card" :footsteps="selectedItemFootsteps"/>
          <cost-card :transport="selectedTransport" class="item-card" />
        </v-col>
        <v-col>
          <TransportCalendar />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
  import TransportPicker from "@/components/TransportPicker";
  import carbonEmissisonCard from "../components/CarbonEmissisonCard";
  import costCard from "../components/CostCard";
  import TransportCalendar from "../components/TransportCalendar";
  export default {
    name: "Dashboard",
    components: {
      TransportPicker,
      TransportCalendar,
      carbonEmissisonCard,
      costCard
    },
    created() {},
    methods: {},
    data() {
      return {
        selectedItemFootsteps: 0,
        selectedTransport: ""
      };
    }
  };
</script>

<style scoped>
.item-card {
  margin-bottom: 20px;
}
</style>
