<template>
    <div>
        <v-snackbar :bottom="false" :top="true" color="success" timeout="5000" v-model="snackbar">
            {{ sTransportName }} selected! Heck yea!
            <template v-slot:action="{ attrs }">
                <v-btn @click="snackbar = false" dark text v-bind="attrs">Close</v-btn>
            </template>
        </v-snackbar>

        <v-dialog max-width="500" v-model="busTimetable">
            <v-card>
                <BusTimetable/>
            </v-card>
        </v-dialog>

        <v-card class="mx-auto" max-width="800">
            <v-list-item two-line>
                <v-list-item-content>
                    <v-list-item-title class="headline">{{ currDay }}</v-list-item-title>
                    <v-list-item-subtitle>
                        <v-icon>{{ currWeatherIcon }}</v-icon>
                        {{ currWeather }}
                    </v-list-item-subtitle>
                </v-list-item-content>
            </v-list-item>
            <v-container>
                <v-row>
                    <v-col cols="12" md="6" sm="6">
                        <v-autocomplete :items="destinations" color="success" label="From" placeholder="Where ya from"
                                        v-model="comingFrom"></v-autocomplete>
                    </v-col>

                    <v-col cols="12" md="6" sm="6">
                        <v-autocomplete :items="destinations" color="success" label="To" placeholder="Where ya goin"
                                        v-model="goingTo"></v-autocomplete>
                    </v-col>
                </v-row>
            </v-container>

            <v-slider
                    :max="6"
                    :tick-labels="labels"
                    class="mx-4"
                    color="green"
                    ticks
                    track-color="green"
                    v-model="time"
            ></v-slider>

            <v-list class="transparent">
                <v-list-item :key="item.name" @click="chooseTransport(item)" v-for="item in transports">
                    <v-list-item-title>
                        <span :class="item.name === 'Flamingo' ? 'deep-purple--text' : ''">{{ item.name }}</span>
                        <span class="deep-purple--text" v-if="item.name === 'Flamingo'"> Promoted</span>

                    </v-list-item-title>

                    <v-list-item-icon>
                        <v-icon :class="item.name === 'Flamingo' ? 'purple--text' : ''">{{ item.icon }}</v-icon>
                    </v-list-item-icon>

                    <v-list-item-subtitle class="text-right">
            <span
                    class="green white--text text-right"
                    v-if="['mdi-weather-snowy', 'mdi-weather-pouring'].includes(currWeatherIcon) && ['Walk', 'Running', 'Bike'].includes(item.name)"
            >Extra points</span>
                        {{ item.footprint }} footsteps
                    </v-list-item-subtitle>
                </v-list-item>
            </v-list>

            <v-divider></v-divider>
        </v-card>
    </div>
</template>

<script>
    import BusTimetable from "@/components/BusTimetable";

    export default {
        name: "TransportPicker",
        components: {
            BusTimetable
        },
        watch: {
            time: function () {
                const currData = this.forecast[this.time];
                this.currDay = currData.day;
                this.currWeather = currData.temp;
                this.currWeatherIcon = currData.icon;
            },
            goingTo: function () {
                this.transports.map(a => a.footprint = Math.floor(a.footprint * 1.8))
              this.transports.sort((a, b) => b.footprint - a.footprint)
            },
           comingFrom: function () {
             this.transports.map(a => a.footprint = Math.floor(a.footprint / 1.8))
             this.transports.sort((a, b) => b.footprint - a.footprint)

           }
        },
        methods: {
            chooseTransport(transport) {
                this.sTransportName = transport.name;
                this.sTrasnportFootprint = transport.footprint;
                this.snackbar = true;
                this.$emit("selected", transport.footprint);
                this.$emit("transport", transport.name);
                if (transport.name === "Bus") {
                    this.busTimetable = true;
                }
            }
        },
        mounted() {
            this.transports.sort((a, b) => b.footprint - a.footprint)
        },
        computed: {},
        data() {
            return {
                goingTo: "",
                comingFrom: "",
                busTimetable: false,
                snackbar: false,

                currDay: "Monday",
                currWeatherIcon: "mdi-weather-balance-sunny",
                currWeather: "24\xB0/27\xB0",

                sTransportName: "",
                sTrasnportFootprint: "",

                labels: ["MO", "TU", "WED", "TH", "FR", "SA", "SU"],
                time: 0,

                destinations: [
                    "Home", "Work", "Zoo", "Capn Bens"
                ],

                transports: [
                    {
                        name: "Flamingo",
                        icon: "mdi-human-scooter",
                        footprint: 300
                    },
                    {
                        name: "Car",
                        icon: "mdi-car",
                        footprint: 10
                    },
                    {
                        name: "Bus",
                        icon: "mdi-bus",
                        footprint: 15
                    },
                    {
                        name: "Scooter",
                        icon: "mdi-human-scooter",
                        footprint: 28
                    },
                    {
                        name: "Bike",
                        icon: "mdi-bike",
                        footprint: 52
                    },
                    {
                        name: "Skateboard",
                        icon: "mdi-skateboard",
                        footprint: 68
                    },
                    {
                        name: "Walk",
                        icon: "mdi-walk",
                        footprint: 224
                    },
                    {
                        name: "Running",
                        icon: "mdi-run",
                        footprint: 252
                    }
                ],
                forecast: [
                    {
                        day: "Monday",
                        icon: "mdi-white-balance-sunny",
                        temp: "24\xB0/27\xB0"
                    },
                    {
                        day: "Tuesday",
                        icon: "mdi-weather-pouring",
                        temp: "6\xB0/12\xB0"
                    },

                    {
                        day: "Wednesday",
                        icon: "mdi-white-balance-sunny",
                        temp: "22\xB0/14\xB0"
                    },
                    {day: "Thursday", icon: "mdi-weather-snowy", temp: "-3\xB0/2\xB0"},
                    {day: "Friday", icon: "mdi-cloud", temp: "25\xB0/15\xB0"},
                    {day: "Saturday", icon: "mdi-cloud", temp: "25\xB0/15\xB0"},
                    {day: "Sunday", icon: "mdi-cloud", temp: "25\xB0/15\xB0"}
                ]
            };
        }
    };
</script>

<style scoped>
</style>
